{% extends "base.html" %}
{% block content %}

    <!-- START: main contents -->
    <div id="fh5co-project">
      <div class="container">

      <h2><b><a target="_blank" href="http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={{ dict_onto_id_term_ordo['onto_id_nonprefix_ordo'] }}">{{ dict_onto_id_term_ordo['onto_term_ordo'] }}</a></b></h2>
      <div style="border-style: solid ; border-width: 1px;padding: 20px 20px 20px 20px;">
        <!-- h4><u>{{ _('disease_label_DiseaseDefinition') }}</u></h4 -->
        {{ str_disease_definition | replace("None", "") }}
      </div>
      <br><br>

      <!-- START: Nav-tabs -->
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">{{ _('disease_tab_CaseReport') }}<!-- ( {{ total_hit }} )--></a></li>
            <li><a href="#tab2default" data-toggle="tab">{{ _('disease_tab_Phenotype') }}</a></li>
            <li><a href="#tab3default" data-toggle="tab">{{ _('disease_tab_CausativeGene') }}</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">

	      <!-- START: FORM -->
	      <form name="disease_casereport" action="/disease_casereport" method="post" class="form-group">

		<br>
                <h2>{{ _('index_textbox_title') }}</h2>
		<textarea class="form-control" rows="1" id="tokeninput_hpo" name="str_phenotypes"></textarea>
		<br>
		<h2>{{ _('disease_textbox_title_narrow_casereport') }}</h2>
		<textarea class="form-control" rows="1" id="tokeninput_filter_casereport" name="str_genes"></textarea>
		<br>
		<input type="hidden" name="str_disease" value="{{ str_disease }}">
		<div align="right">
		  <button type="submit" class="btn btn-primary">{{ _('disease_button_search') }}</button>
		  <button id="tokeninput_hpo_filter_clear" class="btn btn-default">{{ _('index_button_clear') }}</button>
		</div>

		<table width="100%" height="120">
		  <tr>
		    <!-- START: Show total number -->
		    <td align="left" valign="top">
		      <p><br></p>
		      <p>{{ _('search_label_total') }}: <font size="4" color="black"><b>{{ total_hit }}</b></font> {{ _('disease_label_paper') }}</p>
		    </td>
		    <!-- END: Show total number -->
		    <!-- td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td -->
		    <!-- START: Pagination upper_part -->
		    <td align="middle" valign="middle">
		      <ul class="pagination">
		        {% if pagination.has_prev %}
			<li align="center"><a href="{{ url_for_disease_casereport_page(str_disease, str_phenotypes, str_genes, pagination.page - 1, cs) }}">&laquo;</a></li>
		        {% endif %}
		        {%- for page in pagination.iter_pages() %}
		          {% if page %}
		            {% if page != pagination.page %}
		            <li align="center"><a href="{{ url_for_disease_casereport_page(str_disease, str_phenotypes, str_genes, page, cs) }}">{{ page }}</a></li>
		            {% else %}
		            <li align="center" class="active"><a href="#">{{ page }}</a></li>
		            {% endif %}
		          {% else %}
		          <li align="center"><span style="border : 0px">…</span></l>
                          {% endif %}
		        {%- endfor %}
                        {% if pagination.has_next %}
                        <li align="center"><a href="{{ url_for_disease_casereport_page(str_disease, str_phenotypes, str_genes, pagination.page + 1, cs) }}">&raquo;</a></li>
		        {% endif %}
                      </ul>
		      &nbsp;&nbsp;
                    </td>
                    <!-- END: Pagination upper_part -->
	            <!-- START: Show selector for "per page" -->
                    <td align="right" valign="top">
		      <p><br></p>
		      <!-- http://qiita.com/act823/items/3a203f1f96e7fe52f69d -->
		      <select id="changesize_selector" name="changesize_selector" onchange="submit(this.form)">
			{% if cs == "10" %}
			<option id="selector_20" value="10" selected>10</option
>			<option id="selector_20" value="20">20</option>
			<option id="selector_40" value="40">40</option>
			<option id="selector_60" value="60">60</option>
			<option id="selector_100" value="100">100</option>
			{% endif %}
			{% if cs == "20" %}
			<option id="selector_20" value="10">10</option>
			<option id="selector_20" value="20" selected>20</option>
			<option id="selector_40" value="40">40</option>
			<option id="selector_60" value="60">60</option>
			<option id="selector_100" value="100">100</option>
			{% endif %}
			{% if cs == "40" %}
			<option id="selector_20" value="10">10</option>
			<option id="selector_20" value="20">20</option>
			<option id="selector_40" value="40" selected>40</option>
			<option id="selector_60" value="60">60</option>
			<option id="selector_100" value="100">100</option>
			{% endif %}
			{% if cs == "60" %}
			<option id="selector_20" value="10">10</option>
			<option id="selector_20" value="20">20</option>
			<option id="selector_40" value="40">40</option>
			<option id="selector_60" value="60" selected>60</option>
			<option id="selector_100" value="100">100</option>
			{% endif %}
			{% if cs == "100" %}
			<option id="selector_20" value="10">10</option>
			<option id="selector_20" value="20">20</option>
			<option id="selector_40" value="40">40</option>
			<option id="selector_60" value="60">60</option>
			<option id="selector_100" value="100" selected>100</option>
			{% endif %}
		      </select>
		      {{ _('search_label_perpage') }}
		    </td>
		    <!-- END: Show selector for "per page" -->
                  </tr>
                </table>
              </form>
              <!-- END: FORM -->

              <!-- START: Show result table -->
	      <div clas="row">
		<div class="col-sm-12">
		  <div align="right">
		    <span class="label label-primary"><font size="3">{{ _('search_label_MatchedPhenotype') }}</font></span>&nbsp;
		    <span class="label label-default"><font size="3">{{ _('disease_label_gene') }}</font></span>&nbsp;
		    <span class="label label-danger"><font size="3">{{ _('disease_label_mutation') }}</font></span>&nbsp;
		    <span class="label label-success"><font size="3">{{ _('disease_label_mesh') }}</font></span><br>
		  </div>
		  <table class="table table-striped">
		    <thead>
		      <tr>
			<th width="100" class="text-left">{{ _('search_label_rank') }}<br>{{ _('search_label_similarity') }}</th>
			<th class="text-left">PMID<br>(PMCID)</th>
			<!--
			    <th class="text-left">Year<br>Title<br>Citation Information<br>Matched Phenotype(s)<br>Gene(s)<br>Mutation(s)<br>MeSH</th>
			<th class="text-left">Sex</th>
			<th class="text-left">Age</th>
			-->
		      </tr>
		    </thead>
		    <tbody>
		      <!-- http://tnakamura.hatenablog.com/entry/20110608/jinja2_for_loop_index -->
                      {% for dict_similar_casereport in list_dict_similar_casereport %}
		      <tr>
			<!-- Rank -->
			<td rowspan="5">{{ dict_similar_casereport['rank'] }}<br>({{ (dict_similar_casereport['match_score']*100)|round(1) }}%)</td>
			<!--td rowspan="5">{{ (dict_similar_casereport['match_score']*100)|round(1) }}%</td -->
			<!-- PMID -->
			<td rowspan="5">
			  <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ dict_similar_casereport['pmid'] }}" target="_blank"><u>{{ dict_similar_casereport['pmid'] }}</u></a><br>
			  {% if dict_similar_casereport['PMCID'] != 0 %}
		          <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC{{ dict_similar_casereport['PMCID'] }}" target="_blank">(<u>{{ dict_similar_casereport['PMCID'] }}</u>)</a><br>
			  {% endif %}
			</td>
			<!-- Title, Authors, So -->
			<td>
			  <b>{{ dict_similar_casereport['title'] }}</b><br>
			  {{ dict_similar_casereport['authors'] }}.<br>
			  {{ dict_similar_casereport['so'] }}
			  <div id="PlagOpen{{ dict_similar_casereport['pmid'] }}"><a href="#" title="Show abstract" onclick="showPlagin({{ dict_similar_casereport['pmid'] }});return false;"><font color="#0431B4">[ {{ _('disease_label_show_abstract') }} ]</font></a></div>
			  <div id="PlagClose{{ dict_similar_casereport['pmid'] }}" style="display: none"><a href="#" title="Hide abstract" onclick="showPlagin({{ dict_similar_casereport['pmid'] }});return false;"><font color="#0431B4">[ {{ _('disease_label_hide_abstract')}} ]</font></a>
			  <br>
			  <font color="black"><span id="abstract{{ dict_similar_casereport['pmid'] }}"></span></font>
			  </div>
			</td>
		      </tr>
		      <tr>
			<!-- Matched Phenotypes -->
			<td>
                          {% set dict_prev_id = {} %}
			  {% for dict_casereport_bestmatch_onto_id_term_hp in dict_similar_casereport['list_dict_casereport_bestmatch_onto_id_term_hp'] %}
                            {% if not dict_casereport_bestmatch_onto_id_term_hp['onto_id_hp'] in dict_prev_id %}
		            <span class="label label-primary"><font size="3"><a target="_blank" style="color:white;" href="{{ url_for_show_phenotype_context_page( str_disease, dict_casereport_bestmatch_onto_id_term_hp['onto_id_hp'], '1', '20' ) }}">{{ dict_casereport_bestmatch_onto_id_term_hp['onto_term_hp'] }}</a></font></span>
                            {%- if dict_prev_id.update({dict_casereport_bestmatch_onto_id_term_hp['onto_id_hp']:True}) %}{%- endif %} 
		            {% endif %}
			  {% endfor %}
			</td>
		      </tr>
		      <tr>
			<!-- Genes -->
			<td>
			  {% set prev_id = "" %}
			  {% for dict_entrezid_symbol_synonym in dict_similar_casereport['list_dict_entrezid_symbol_synonym'] %}
		            {% if prev_id != dict_entrezid_symbol_synonym['entrezid'] %}
		            <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ dict_entrezid_symbol_synonym['symbol'] }}%5Bgene%5D" target="_blank"><span class="label label-default"><font size="3">{{ dict_entrezid_symbol_synonym['symbol'] }}</font></span></a>
		            {% set prev_id = dict_entrezid_symbol_synonym['entrezid'] %}
			    {% endif %}
			  {% endfor %}
			</td>
		      </tr>
		      <tr>
			<!-- Mutations -->
			<td>
			  {% set prev_id = "" %}
			  {% for dict_id_component_mention in dict_similar_casereport['list_dict_id_component_mention'] %}
		            {% if prev_id != dict_id_component_mention['id'] %}
		          <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ dict_id_component_mention['mention'] }}" target="_blank"><span class="label label-danger"><font size="3">{{ dict_id_component_mention['component'] }}</font></span></a>
		            {% set prev_id = dict_id_component_mention['id'] %}
			    {% endif %}
			  {% endfor %}
			</td>
		      </tr>
		      <tr>
			<!-- MeSH -->
			<td>
			  {% set prev_id = "" %}
			  {% for dict_sdui_str_mesh in dict_similar_casereport['list_dict_sdui_str_mesh'] %}
		            {% if prev_id != dict_sdui_str_mesh['sdui'] %}
		            <a href="https://www.ncbi.nlm.nih.gov/mesh/{{ dict_sdui_str_mesh['sdui'] }}" target="_blank"><span class="label label-success"><font size="3">{{ dict_sdui_str_mesh['str'] }}</font></span></a>
		            {% set prev_id = dict_sdui_str_mesh['sdui'] %}
			    {% endif %}
			  {% endfor %}
			</td>
		      </tr>
		      {% endfor %}
		    </tbody>
		  </table>
		</div><!--/.col-sm-12-->
	      </div><!--/row-->
              <!-- END: Show result table -->

	      <!-- START: Pagination lower_part -->
	      <table width="100%" height="120">
	        <tr>
	          <td align="middle" valign="middle">
	          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            <ul class="pagination">
		    {% if pagination.has_prev %}
		      <li align="center"><a href="{{ url_for_disease_casereport_page(str_disease, str_phenotypes, str_genes, pagination.page - 1, cs) }}">&laquo;</a></li>
		    {% endif %}
		    {%- for page in pagination.iter_pages() %}
		      {% if page %}
		        {% if page != pagination.page %}
		          <li align="center"><a href="{{ url_for_disease_casereport_page(str_disease, str_phenotypes, str_genes, page, cs) }}">{{ page }}</a></li>
		        {% else %}
		          <li align="center" class="active"><a href="#">{{ page }}</a></li>
		        {% endif %}
		      {% else %}
		        <li align="center"><span style="border : 0px">…</span></l>
                      {% endif %}
		    {%- endfor %}
                    {% if pagination.has_next %}
                      <li align="center"><a href="{{ url_for_disease_casereport_page(str_disease, str_phenotypes, str_genes, pagination.page + 1, cs) }}">&raquo;</a></li>
	            {% endif %}
                    </ul>
                  </td>
                </tr>
              </table>
              <!-- END: Pagination lower_part -->
              </div>

              <div class="tab-pane fade" id="tab2default">
		<br>
		<h2>{{ _('disesase_TabPheno_label_orphanet') }}</h2>
  		<p><font size="4" color="black">&nbsp;&nbsp;&nbsp;&nbsp;{{ _('search_label_total') }}: <b>{{ list_dict_Disease_phenotype_Orphanet|length }}</b></font></p>
		<!-- START: Show result table -->
		<div clas="row">
		  <div class="col-sm-12">
		    <table class="table table-striped">
		      <thead>
			<tr>
			  <th class="text-left">HPO ID</th>
			  <th class="text-left">{{ _('disease_TabPheno_label_term') }}</th>
			  <th class="text-left">{{ _('disease_TabPheno_label_freq') }}</th>
			</tr>
		      </thead>
		      <tbody>
			{% for dict_Disease_phenotype_Orphanet in list_dict_Disease_phenotype_Orphanet %}
			<tr>
			  <!-- HPO ID -->
			  <td><a href="http://compbio.charite.de/hpoweb/showterm?id={{ dict_Disease_phenotype_Orphanet['id_onto_hp'] }}" target="_blank">{{ dict_Disease_phenotype_Orphanet['id_onto_hp'] }}</a></td>
			  <!-- Term -->
			  <td>{{ dict_Disease_phenotype_Orphanet['term'] }}</td>
			  <!-- Frequency -->
			  <td>{{ dict_Disease_phenotype_Orphanet['freq'] }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		    <br><br>
		  </div><!--/.col-sm-12-->
		</div><!--/row-->
		<!-- END: Show result table -->

		<h2>{{ _('disesase_TabPheno_label_casereport') }}</h2>
  		<p><font size="4" color="black">&nbsp;&nbsp;&nbsp;&nbsp;{{ _('search_label_total') }}: <b>{{ list_dict_Disease_phenotype_CaseReport|length }}</b></font></p>
		<!-- START: Show result table -->
		<div clas="row">
		  <div class="col-sm-12">
		    <table class="table table-striped">
		      <thead>
			<tr>
			  <th class="text-left">HPO ID</th>
			  <th class="text-left">{{ _('disease_TabPheno_label_term') }}</th>
			  <th class="text-left">{{ _('disease_TabPheno_label_num_casereport') }}</th>
			</tr>
		      </thead>
		      <tbody>
			{% for dict_Disease_phenotype_CaseReport in list_dict_Disease_phenotype_CaseReport %}
			<tr>
			  <!-- HPO ID -->
			  <td><a href="http://compbio.charite.de/hpoweb/showterm?id={{ dict_Disease_phenotype_CaseReport['id_onto_hp'] }}" target="_blank">{{ dict_Disease_phenotype_CaseReport['id_onto_hp'] }}</a></td>
			  <!-- Term -->
			  <td>{{ dict_Disease_phenotype_CaseReport['term'] }}</td>
			  <!-- Frequency -->
			  <td><a target="_blank" href="{{ url_for_show_phenotype_context_page( str_disease, dict_Disease_phenotype_CaseReport['id_onto_hp'], '1', '20' ) }}">{{ dict_Disease_phenotype_CaseReport['freq'] }}</a></td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div><!--/.col-sm-12-->
		</div><!--/row-->
		<!-- END: Show result table -->
		<br>
              </div>
              <div class="tab-pane fade" id="tab3default">

		<br>
		<h2>{{ _('disesase_TabGene_label_orphanet') }}</h2>
  		<p><font size="4" color="black">&nbsp;&nbsp;&nbsp;&nbsp;{{ _('search_label_total') }}: <b>{{ list_dict_DiseaseGene_gene|length }}</b></font></p>
		<!-- START: Show result table -->
		<div clas="row">
		  <div class="col-sm-12">
		    <table class="table table-striped">
		      <thead>
			<tr>
			  <th class="text-left">Gene Symbol</th>
			  <th class="text-left">{{ _('disease_TabGene_label_name') }}</th>
			  <th class="text-left">Entrez Gene ID</th>
			</tr>
		      </thead>
		      <tbody>
			{% for dict_DiseaseGene_gene in list_dict_DiseaseGene_gene %}
			<tr>
			  <!-- symbol -->
			  <td><a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ dict_DiseaseGene_gene['symbol'] }}%5Bgene%5D" target="_blank">{{ dict_DiseaseGene_gene['symbol'] }}</a></td>
			  <!-- Name -->
			  <td>{{ dict_DiseaseGene_gene['name'] }}</td>
			  <!-- entrez_id -->
			  <td><a href="https://www.ncbi.nlm.nih.gov/gene/{{ dict_DiseaseGene_gene['entrez_id'] }}" target="_blank">{{ dict_DiseaseGene_gene['entrez_id'] }}</a></td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		    <br><br>
		  </div><!--/.col-sm-12-->
		</div><!--/row-->
		<!-- END: Show result table -->

	      </div>
            </div>
          </div>
        </div>
        <!-- END: Nav-tabs -->

      </div>
    </div>
    <!-- END: main contents -->


    <!-- START: Import JavaScript -->	
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/static/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Stellar -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- rater -->
    <script src="/static/js/rater.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>
    <!-- END: Import JavaScript -->	


    <!-- START: jquery-tokeninput -->
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput_cs.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#tokeninput_hpo").tokenInput("/tokeninput_hpo", {
          theme: "facebook",
          prePopulate: {{ json_phenotypes|safe }}
        });
        $("#tokeninput_filter_casereport").tokenInput_cs("/tokeninput_filter_casereport", {
          theme: "facebook",
          prePopulate: {{ json_genes|safe }}
        });
        $("#tokeninput_hpo_filter_clear").click(function (){
          $("#tokeninput_hpo").tokenInput("clear");
          $("#tokeninput_filter_casereport").tokenInput("clear");
          return false;
        });
      });
    </script>
    <!-- END: jquery-tokeninput -->

    <!-- START: popup-hierarchy-hpo -->
    <!-- WebGL -->
    <script src="/static/js/d3/3.5.17/d3.min.js"></script>
    <script src="/static/js/three.js-r84/build/three.min.js"></script>
    <script src="/static/js/three.js-r84/examples/js/Detector.js"></script>
    <script src="/static/js/three-bits/OBJLoader.js"></script>
    <script src="/static/js/three-bits/three-bits.js"></script>
    <script src="/static/js/three-bits/three-bits-renderer.js"></script>
    <script src="/static/js/three-bits/defaults.js"></script>
    <!-- script src="/static/js/three-bits/category2obj.js"></script -->
    <script src="/static/js/popup-hierarchy-hpo.js"></script>
    <script src="/static/js/button-ripple-effect.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#tokeninput_hpo").popupRelationHPO('/popup_hierarchy_hpo');
      });
    </script>
    <!-- END: popup-hierarchy-hpo -->

    <script type="text/javascript">
      function showPlagin(idno){

        $.ajax({
          type: "GET",
          url: "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi",
          data: "db=pubmed&query_key=1&id=" + idno + "&retmode=xml&rettype=abstract",
          dataType: "xml",
          success: function(xml){
            $(xml).find("PubmedArticle").each(function(){
              var pmid = "";
              $(this).find('ArticleId').each(function(){
                var type = $(this).attr('IdType');
                if( type == "pubmed" ){
                  pmid = $(this).text();
                }
              });
              var abs = $(this).find('AbstractText').text();
              $("#abstract" + pmid).empty();

              {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                var abs_url = abs.replace(/\//g, "%2F")
                abs_url = abs_url.replace(/\'/g, "%27")
                abs = abs + "<a href='https://translate.google.co.jp/?hl=ja#en/ja/" + abs_url + "' target='_blank'><font color='#0431B4'>&nbsp;&gt;&gt;&nbsp;{{ _('search_label_translate_google') }}</font></a>";
              {% endif %}
              $("#abstract" + pmid).append(abs);
            });
          }
        });

        pc = ('PlagClose' + (idno));
        po = ('PlagOpen' + (idno));
        if( document.getElementById(pc).style.display == "none" ) {
          document.getElementById(pc).style.display = "block";
          document.getElementById(po).style.display = "none";
        }
        else {
          document.getElementById(pc).style.display = "none";
          document.getElementById(po).style.display = "block";
        }
      }
    </script>


{% endblock %}

