{% extends "base.html" %}
{% block content %}

    <!-- START: FORM -->
    <div id="fh5co-project">
      <div class="container">
	<form name="search" action="/search_disease" method="post" class="form-group">
	  <div align="middle"><a href="/"><img src="/static/images/logo_color.svg" width="550"></a></div>
	  <br>
	  <!--div style="text-align:center;font-size:1px;"><div class="rater" id="rater"></div></div-->
	  <div align="middle">
	    <table width="70%">
	      <tr align="middle">
		<td>
		  <table width="100%">
		    <tr>
		      <td width="100%">
			<textarea class="form-control" rows="2" id="tokeninput_hpo" name="str_phenotypes"></textarea>
			<tr align="right">
			  <td valign="top">
			    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
			      <a href="/text2hpo" target="_blank"><font color="#0431B4">文章から症状(HPO)を抽出したい場合はコチラ</font></a>
			    {% else %}
			      <a href="https://impact.dbmi.columbia.edu/doc2hpo/" target="_blank"><font color="#0431B4">Input Free-Text (doc2hpo)</font></a>
			    {% endif %}
			  </td>
			</tr>
		      </td>
		    </tr>
		  </table>
		</td>
	      </tr>
	      <tr><td><br><br></td></tr>
	      <tr align="middle">
		<td>
		  <table>
		    <tr>
		      <td>
			<button id="phenotouch" class="btn btn-default"><span class="icon-icon-symptoms"></span>{{ _('index_button_phenotouch') }}</button>
			<button id="tokeninput_hpo_clear" class="btn btn-default">{{ _('index_button_clear') }}</button>
			<button type="submit" class="btn btn-primary"><span class="icon-icon-search"></span>{{ _('index_button_search') }}</button>
                      </td>
                    </tr>
                  </table>
	        </td>
	      <tr><td><br></td></tr>
	      <tr align="middle">
	        <td valign="top">
		  <a href="#" id="ex_phenotypes"><font color="#0431B4">ex) {{ _('index_Sample') }}</font></a>
	        </td>
	      </tr>
	    </table>
          </div>
	  <input type="hidden" name="str_genes" value="">
	  <input type="hidden" name="page_orphanet" value="1">
	  <input type="hidden" name="page_omim" value="1">
	  <input type="hidden" name="changesize_selector_orphanet" value="10">
	  <input type="hidden" name="changesize_selector_omim" value="10">
	</form>
	<br><!--br><br-->
      </div>
    </div>
    <!-- END: FORM -->


    <!-- START: Description -->
    <div id="fh5co-counter">
      <div class="container">
	<div class="row animate-box" data-animate-effect="fadeInUp">
	  <div class="col-md-12 col-sm-6 text-center" align="center" style="letter-spacing: 0.3em; line-height: 3em;"><font color="black">{{ _('index_usage_title_sub') }}</font></div>
	  <div class="col-md-12 col-sm-6 text-center" align="center" style="letter-spacing: 0.3em; line-height: 2em;"><h1><font color="#0f2350"><b>{{ _('index_usage_title') }}</b></font></h1></div>
	</div>
	<br><br>
        <div class="row">
	  <div class="col-md-4 col-sm-6 ">
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-10 col-sm-6 ">
		<section class="sample4">
		  <img src="/static/images/top/usage_1.png" height="270">
		  <!--a href="" data-toggle="modal" data-target="#modal_usage_1">
		    <figure>
		      <img src="/static/images/top/usage_1.png" height="270">
                      <div class="container">
                        <div class="row mb-5">
                          <div class="col-2">
                            <figcaption>
                              <h3 class="title"><b><span class="icon-icon-movie"></span>&nbsp;DEMO</b></h3>
                              <p><font size="4">{{ _('index_usage_1_title') }}</font></p>
                            </figcaption>
                          </div>
                        </div>
                      </div>
		    </figure>
		  </a-->
		</section>
		<br>
		<div align="center" style="letter-spacing: 0.1em; "><h3><b><font color="#337ab7">{{ _('index_usage_1_title') }}</font></b></h3></div>
		<div align="center" style="letter-spacing: 0.1em; line-height: 2em;"><font color="black"><p algin="center">{{ _('index_usage_1_desc') }}</p></font></div>
	      </div>
	      <div class="col-md-1 col-sm-6 "></div>
	    </div>
	  </div>
	  <div class="col-md-4 col-sm-6 ">
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-10 col-sm-6 ">
		<section class="sample4">
		  <img src="/static/images/top/usage_3.png" height="270">
		  <!--a href="" data-toggle="modal" data-target="#modal_usage_1">
		    <figure>
		      <img src="/static/images/top/usage_3.png" height="270">
                      <div class="container">
                        <div class="row mb-5">
                          <div class="col-2">
                            <figcaption>
                              <h3 class="title"><b><span class="icon-icon-movie"></span>&nbsp;DEMO</b></h3>
                              <p><font size="4">{{ _('index_usage_3_title') }}</font></p>
                            </figcaption>
                          </div>
                        </div>
                      </div>
		    </figure>
		  </a-->
		</section>
		<br>
		<div align="center" style="letter-spacing: 0.1em; "><h3><b><font color="#337ab7">{{ _('index_usage_3_title') }}</font></b></h3></div>
		<div align="center" style="letter-spacing: 0.1em; line-height: 2em;"><font color="black"><p algin="center">{{ _('index_usage_3_desc') }}</p></font></div>
	      </div>
	      <div class="col-md-1 col-sm-6 "></div>
	    </div>
	  </div>
	  <div class="col-md-4 col-sm-6 ">
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-10 col-sm-6 ">
		<section class="sample4">
		  <img src="/static/images/top/usage_2.png" height="270">
		  <!--a href="" data-toggle="modal" data-target="#modal_usage_1">
		    <figure>
		      <img src="/static/images/top/usage_2.png" height="270">
                      <div class="container">
                        <div class="row mb-5">
                          <div class="col-2">
                            <figcaption>
                              <h3 class="title"><b><span class="icon-icon-movie"></span>&nbsp;DEMO</b></h3>
                              <p><font size="4">{{ _('index_usage_2_title') }}</font></p>
                            </figcaption>
                          </div>
                        </div>
                      </div>
		    </figure>
		  </a-->
		</section>
		<br>
		<div align="center" style="letter-spacing: 0.1em; "><h3><b><font color="#337ab7">{{ _('index_usage_2_title') }}</font></b></h3></div>
		<div align="center" style="letter-spacing: 0.1em; line-height: 2em;"><font color="black"><p algin="center">{{ _('index_usage_2_desc') }}</p></font></div>
	      </div>
	      <div class="col-md-1 col-sm-6 "></div>
	    </div>
	  </div>
	</div>
	<br>
        <div class="row">
	  <div class="col-md-1 col-sm-6 "></div>
	  <div class="col-md-10 col-sm-6 ">
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-4 col-sm-6 ">
		<section class="sample4">
		  <img src="/static/images/top/usage_4.png" height="270">
		  <!--a href="" data-toggle="modal" data-target="#modal_usage_1">
		    <figure>
		      <img src="/static/images/top/usage_4.png" height="270">
                      <div class="container">
                        <div class="row mb-5">
                          <div class="col-2">
                            <figcaption>
                              <h3 class="title"><b><span class="icon-icon-movie"></span>&nbsp;DEMO</b></h3>
                              <p><font size="4">{{ _('index_usage_4_title') }}</font></p>
                            </figcaption>
                          </div>
                        </div>
                      </div>
		    </figure>
		  </a-->
		</section>
		<br>
		<div align="center" style="letter-spacing: 0.1em; "><h3><b><font color="#337ab7">{{ _('index_usage_4_title') }}</font></b></h3></div>
		<div align="center" style="letter-spacing: 0.1em; line-height: 2em;"><font color="black"><p algin="center">{{ _('index_usage_4_desc') }}</p></font></div>
	      </div>
	      <div class="col-md-2 col-sm-6 "></div>
	      <div class="col-md-4 col-sm-6 ">
		<div align="center"><img src="/static/images/top/usage_5.png" height="270"></div>
		<br>
		<div align="center" style="letter-spacing: 0.1em; "><h3><b><font color="#337ab7">{{ _('index_usage_5_title') }}</font></b></h3></div>
		<div align="center" style="letter-spacing: 0.1em; line-height: 2em;"><font color="black"><p algin="center">{{ _('index_usage_5_desc') }}</p></font></div>
	      </div>
	      <div class="col-md-1 col-sm-6 "></div>
	    </div>
	  </div>
	  <div class="col-md-1 col-sm-6 "></div>
	</div>
      </div>
    </div>
    <!-- END: Description -->


    <!-- START: Original Data Sources -->
    <!--
    <div id="fh5co-started">
      <div class="container">
	<div class="row animate-box">
	  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
	    <h2>Original Data Sources</h2>
	    <ol>
	      <li><p align="left">Orphadata: Free access data from Orphanet. © INSERM 1997. Available on <a href="http://www.orphadata.org">http://www.orphadata.org</a>. Data version (XML data version).</p></li>
	      <li><p align="left">Sebastian Köhler, Sandra C Doelken, Christopher J. Mungall, Sebastian Bauer, Helen V. Firth, et al. The Human Phenotype Ontology project: linking molecular biology and disease through phenotype data Nucl. Acids Res. (1 January 2014) 42 (D1): D966-D974 doi:10.1093/nar/gkt1026</p></li>
	      <li><p align="left">Mungall, Christopher J., et al. The Monarch Initiative: an integrative data and analytic platform connecting phenotypes to genotypes across species. Nucleic acids research 45.D1 (2016): D712-D722.</p></li>
	      <li><p align="left">Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids research, 2013, 41 (W1): W518-W522. doi: 10.1093/nar/gkt44</p></li>
	      <li><p align="left">HPO-Japanese alpha version</p></li>
	      <li><p align="left">jQuery Tokeninput: Copyright (c) James Smith, Released under the MIT license, <a href="https://opensource.org/licenses/mit-license.php">https://opensource.org/licenses/mit-license.php</a></p></li>
	      <li><p align="left">Bootstrap template, Copyright <a href="https://freehtml5.co">FREEHTML5.CO</a> licensed by <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p></li>
	      <li><p align="left">BodyParts3D, Copyright <a href="https://dbcls.rois.ac.jp/index-en.html">Database Center for Life Science</a> licensed by <a href="https://creativecommons.org/licenses/by-sa/2.1/jp/">CC BY SA 2.1-ja</a></p></li>
	    </ol>
	  </div>
	</div>
      </div>
    </div>
    -->
    <!-- END: Original Data Sources -->

    <br><br>

    <!-- START: Photo -->
    <div id="fh5co-services" class="fh5co-bg-section border-bottom">
      <div class="container description-container">
	<div class="row description-wrapper">
	  <div class="left-wrapper">
	    <div align="left" style="letter-spacing: 0.2em; line-height: 2em; "><font color="black" size="4">{{ _('index_photo_title_sub') }}</font></div>
	    <div align="left" style="letter-spacing: 0.2em; "><h1><font color="#2A3356"><b>{{ _('index_photo_title') }}</b></font></h1></div>

            <!-- 8.13:追加:モーダルを開くボタン・リンク -->
            <div class="container">
              <div class="row mb-5">
		<div class="col-2">
                  <button id="play_movie" class="btn btn-default" data-toggle="modal" data-target="#modal_photo"><span class="icon-icon-movie"></span>&nbsp;{{ _('index_photo_how') }}</button>
		</div>
              </div>
	    </div>
	    <!-- モーダルボタン終わり-->

	  </div>
	  <div class="img-movie"><img src="static/images/img-movie.png"></div>
	</div>
      </div>
    </div>
    <!-- END: Photo -->

    <br><br>

    <!-- START: Statistics -->
    <div id="fh5co-counter">
      <div class="container">
	<div class="row animate-box" data-animate-effect="fadeInUp">
	  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="letter-spacing: 0.3em; line-height: 2em;">
	    <h2><font color="#0f2350">Statistics</font></h2>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-face-smile"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="7352" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <div align="center" style="letter-spacing: 0.2em; "><font color="black">{{ _('index_stat_genetic') }}</font></div>
	  </div>
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-face-smile"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="4609" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <div align="center" style="letter-spacing: 0.2em; "><font color="black">{{ _('index_stat_rare') }}</font></div>
	  </div>
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-face-smile"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="4312" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <div align="center" style="letter-spacing: 0.2em; "><font color="black">{{ _('index_stat_gene') }}</font></div>
	  </div>
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-face-smile"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="18893" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <div align="center" style="letter-spacing: 0.2em; "><font color="black">{{ _('index_stat_udp') }}</font></div>
	  </div>
	  <!-- div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-download"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="2" data-speed="1500" data-refresh-interval="50">2</span>M+</span>
	    <div align="center" style="letter-spacing: 0.2em; "><font color="black">{{ _('index_stat_cs') }}</font></div>
	    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=%22case+reports%22%5BPublication+Type%5D+OR+%22case+reports%22%5Bti%5D+OR+%22case+report%22%5Bti%5D">&gt;&gt; PubMed</a>
	  </div-->
	</div>
	<!-- END: Statistics -->

	<!-- START: Citing PubCaseFinder -->
        <br><br><br><br><br>
	<div class="row animate-box" data-animate-effect="fadeInUp">
	  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="letter-spacing: 0.3em; line-height: 2em;">
	    <h2><font color="#0f2350">Citation</font></h2>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-2 col-sm-6 "></div>
	  <div class="col-md-8 col-sm-6 text-center fh5co-heading" style="letter-spacing: 0.1em; line-height: 2em;">
	    <font size="4" color="black"><b>{{ _('index_label_citation') }}</b></font>
	    <p><font color="black">Toyofumi Fujiwara, Yasunori Yamamoto, Jin-Dong Kim, Orion Buske, and Toshihisa Takagi., PubCaseFinder: A Case-Report-Based, Phenotype-Driven Differential-Diagnosis System for Rare Diseases, <I>The American Journal of Human Genetics</I> 103.3 (2018): 389-399.</font><br>
	      <a href="https://www.ncbi.nlm.nih.gov/pubmed/30173820" target="_blank">[PubMed Entry]</a>&nbsp;&nbsp;
	      <a href="https://www.cell.com/ajhg/fulltext/S0002-9297(18)30269-6?code=ajhg-site" target="_blank">[Full Text]</a>
	    </p>
	  </div>
	  <div class="col-md-2 col-sm-6 "></div>
	</div>
	<!-- END: Citing PubCaseFinder -->

	<br><br><br>

	<!-- START: Logos -->
	<div class="row">
	  <div class="col-md-6 col-sm-6 ">
	    <div class="row">
	      <div class="col-md-3 col-sm-6 "></div>
	      <div class="row animate-box" data-animate-effect="fadeInUp">
		<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="letter-spacing: 0.3em; line-height: 2em; ">
		  <h3><font color="#0f2350" size="6"><br>Special Thanks</font></h3>
		</div>
	      </div>
	      <div class="col-md-3 col-sm-6 "></div>
	    </div>

	    <div class="row">
	      <div class="col-md-6 col-sm-6 ">
		<div align="center"><a href="https://hpo.jax.org/app/" target="_blank"><img src="/static/images/top/logo/hpo.png" height="55"></a></div>
	      </div>
	      <div class="col-md-5 col-sm-6 ">
		<div align="center"><a href="https://github.com/monarch-initiative/mondo" target="_blank"><img src="/static/images/top/logo/mondo.png" height="60"></a></div>
	      </div>
	      <div class="col-md-1 col-sm-6 "></div>
	    </div>
	    <br><br>
	    <div class="row">
	      <div class="col-md-6 col-sm-6 ">
		<div align="center"><a href="https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/PubTator/" target="_blank"><img src="/static/images/top/logo/pubtator.png" width="180"></a></div>
	      </div>
	      <div class="col-md-5 col-sm-6 ">
		<div align="center"><a href="http://www.orphadata.org/cgi-bin/index.php" target="_blank"><img src="/static/images/top/logo/orphadata.png" width="180"></a></div>
	      </div>
	      <div class="col-md-1 col-sm-6 "></div>
	    </div>
	    <br><br>
	    <div class="row">
	      <div class="col-md-12 col-sm-6 " style="margin-top: 0.5rem">
		<div align="center"><a href="https://monarchinitiative.org" target="_blank"><img src="/static/images/top/logo/monarch.png" height="45"></a></div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-6 col-sm-6 " style="border-left: 1px solid #bbb;">
	    <div class="row">
	      <div class="col-md-2 col-sm-6 "></div>
	      <div class="row animate-box" data-animate-effect="fadeInUp">
		<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="letter-spacing: 0.3em; line-height: 2em;">
		  <h3><font color="#0f2350" size="6">Memberships &<br>Collaborators</font></h3>
		</div>
	      </div>
	      <div class="col-md-2 col-sm-6 "></div>
	    </div>
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-5 col-sm-6 ">
		<div align="center"><a href="http://ga4gh.org" target="_blank"><img src="/static/images/top/logo/ga4gh.png" height="50"></a></div>
	      </div>
	      <div class="col-md-6 col-sm-6 ">
		<a href="https://biosciencedbc.jp/en/" target="_blank"><img src="/static/images/top/logo/nbdc.png" height="45"></a>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-5 col-sm-6 ">
		<a href="http://www.matchmakerexchange.org" target="_blank"><img src="/static/images/top/logo/mme.png" height="100"></a>
	      </div>
	      <div class="col-md-6 col-sm-6 mx-auto " style="margin-top: 1.2rem">
		<div align="center"><a href="https://gene42.com" target="_blank"><img src="/static/images/top/logo/gene42.jpg" height="70"></a></div>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-md-1 col-sm-6 "></div>
	      <div class="col-md-5 col-sm-6 ">
		<div align="center"><a href="https://www.phenomecentral.org" target="_blank"><img src="/static/images/top/logo/phenomecentral.png" height="80"></a></div>
	      </div>
	      <div class="col-md-6 col-sm-6 ">
		<div align="center"><a href="http://patientarchive.org" target="_blank"><img src="/static/images/top/logo/patientarchive.jpg" height="80"></a></div>
	      </div>
	    </div>

	  </div>
	</div>
	<!-- END: Logos -->
      </div>
    </div>

    <br><br>

    <!-- START: Import JavaScript -->	
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/static/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Stellar -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- rater -->
    <script src="/static/js/rater.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>
    <!-- END: Import JavaScript -->	


    <!-- START: jquery-tokeninput -->
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#ex_phenotypes").click(function (){
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_1_id') }}", name: "{{ _('index_Sample_1_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_2_id') }}", name: "{{ _('index_Sample_2_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_3_id') }}", name: "{{ _('index_Sample_3_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_4_id') }}", name: "{{ _('index_Sample_4_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_5_id') }}", name: "{{ _('index_Sample_5_name') }}"});
          return false;
        });
        $("#tokeninput_hpo").tokenInput("/tokeninput_hpo", {
          theme: "facebook"
        });
        $("#tokeninput_hpo_clear").click(function (){
          $("#tokeninput_hpo").tokenInput("clear");
          return false;
        });
      });
      $("#phenotouch").click(function (e){
        $.PopupRelationHPOWithWebGL();
        e.preventDefault();
        e.stopPropagation();
        return false;
      });
      $('.rater').rate({
        max_value: 5,
        step_size: 0.1,
        initial_value: 0
      });
    </script>
    <!-- END: jquery-tokeninput -->

    <!-- START: popup-hierarchy-hpo -->
    <!-- WebGL -->
    <script src="/static/js/d3/3.5.17/d3.min.js"></script>
    <script src="/static/js/three.js-r84/build/three.min.js"></script>
    <script src="/static/js/three.js-r84/examples/js/Detector.js"></script>
    <script src="/static/js/three-bits/OBJLoader.js"></script>
    <script src="/static/js/three-bits/three-bits.js"></script>
    <script src="/static/js/three-bits/three-bits-renderer.js"></script>
    <script src="/static/js/three-bits/defaults.js"></script>
    <!-- script src="/static/js/three-bits/category2obj.js"></script -->
    <script src="/static/js/popup-hierarchy-hpo.js"></script>
    <script src="/static/js/button-ripple-effect.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#tokeninput_hpo").popupRelationHPO('/popup_hierarchy_hpo');
      });
    </script>
    <!-- END: popup-hierarchy-hpo -->

    <!-- START: focus on text-box -->
    <!--
    <script type="text/javascript">
      document.getElementById('tokeninput_hpo').focus();
    </script>
    -->
    <!-- END: focus on text-box -->

    <!--Start of Tawk.to Script-->
    <!--
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;

      {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
        s1.src='https://embed.tawk.to/5c974620c37db86fcfcf8ac9/default';
      {% else %}
        s1.src='https://embed.tawk.to/5c96fab0101df77a8be4232c/default';
      {% endif %}

      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    -->
    <!--End of Tawk.to Script-->


{% endblock %}

