{% extends "base.html" %}
{% block content %}

		
    <div class="fh5co-loader"></div>
	

    <div id="fh5co-team">
      <div class="container">
        <div class="row animate-box row-pb-md">

	  <!-- START: Terms of Service for PubCaseFinder -->
          <div align="center"><h1>Terms of Service for PubCaseFinder</h1></div>
	  <div align="center"><p><a href="/termsofservice_ja">Japanese version</a> of this document is also available.</p></div>
	  <br><br>
	  <!-- END: Terms of Service for PubCaseFinder -->

	  <!-- START: ACCEPTANCE OF TERMS OF SERVICE -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>ACCEPTANCE OF TERMS OF SERVICE</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
		PubCaseFinder service (referred to below as the "Service") is a database hosting service, offered by the Database Center for Life Science (referred to below as "DBCLS") and supported by the Life Science Database Integration Project funded by the Japan Science and Technology Agency. In order to use the Service, you must agree and acknowledge to be bound by the Terms of Service for PubCaseFinder (referred to below as the "Terms"). Any use of the Service shall be subject to the Terms.
            </font></div>
          </div>
	  <!-- END: ACCEPTANCE OF TERMS OF SERVICE -->

	  <!-- START: MODIFICATIONS TO TERMS OF SERVICE -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>MODIFICATIONS TO TERMS OF SERVICE</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
            DBCLS shall be able to change the Terms without any consent of the user of the Service. Changes become effective when they are displayed in the website of the Service and the user is considered to have agreed to the Terms after the change as far as he/she continues to use the Service.
            </font></div>
          </div>
	  <!-- END: MODIFICATIONS TO TERMS OF SERVICE -->

	  <!-- START: COPYRIGHT -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>COPYRIGHT</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
            For information about Copyright, please read the term "Copyright" in <a href="https://dbcls.rois.ac.jp/policy-en.html">the Site Policies</a> of the DBCLS website.
            </font></div>
          </div>
	  <!-- END: COPYRIGHT -->

	  <!-- START: DISCLAIMER OF WARRANTIES -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>DISCLAIMER</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
	    The PubCaseFinder is intended to be used by qualified and licensed physicians to assist in the research about rare and genetic diseases and for use as a teaching aid. The PubCaseFinder should not be used to make medical decisions without the advice of a physician. PubCaseFinder provides data in good faith as a investigative tool, but without verifying the accuracy, clinical validity or utility of the data. PubCaseFinder makes no warranty, express or implied, nor assumes any legal liability or responsibility for any purpose for which the data are used. DBCLS shall bear no liability with respect to damages incurred by the change, discontinuation or termination of the Service.
            </font></div>
            <!-- p>For information about Disclaimer of Warranties, please read the term "Disclaimer" in <a href="http://lifesciencedb.jp/lsdb.cgi?lng=en&gg=policy">the Site Policies</a> of the LSDB website.</p -->
          </div>
	  <!-- END: DISCLAIMER OF WARRANTIES -->

	  <!-- START: PRIVACY POLICY -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>PRIVACY POLICY</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
            For information about Privacy Policy, please read the term "Personal Information" in <a href="https://dbcls.rois.ac.jp/policy-en.html">the Site Policies</a> of the DBCLS website.
            </font></div>
          </div>
	  <!-- END: PRIVACY POLICY -->

	  <!-- START: PROHIBITED USES -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>PROHIBITED USES</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
            For information about Prohibited Uses, please read the term "Prohibited Uses" in <a href="https://dbcls.rois.ac.jp/policy-en.html">the Site Policies</a> of the DBCLS website.
            </font></div>
          </div>
	  <!-- END: PROHIBITED USES -->

        </div>
      </div>
    </div>


    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


    <!-- START: Import JavaScript -->
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/static/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Stellar -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>
    <!-- END: Import JavaScript -->

	
{% endblock %}






