{% extends "base.html" %}
{% block content %}

		
    <div class="fh5co-loader"></div>
	

    <div id="fh5co-team">
      <div class="container">
        <div class="row animate-box row-pb-md">

	  <!-- START: Terms of Service for PubCaseFinder -->
          <div align="center"><h1>PubCaseFinder 利用規約</h1></div>
	  <div align="center"><p><a href="/termsofservice_en">English version</a> of this document is also available.</p></div>
	  <br><br>
	  <!-- END: Terms of Service for PubCaseFinder -->

	  <!-- START: ACCEPTANCE OF TERMS OF SERVICE -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>「PubCaseFinder サービス」ご利用規約について</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
		「PubCaseFinder サービス」（以下、本サービス）はライフサイエンス統合データベースセンター（以下、DBCLS）が国立研究開発法人科学技術振興機構バイオサイエンスデータベースセンターとの共同研究開発の一環として提供するデータベースホスティングサービスです。本サービスをご利用頂くためには、本サービスご利用規約（以下、本規約）に同意いただき、本規約を遵守していただく必要があります。本規約の適用範囲は本サービスを利用する一切の場合とします。
	    </font></div>
          </div>
	  <!-- END: ACCEPTANCE OF TERMS OF SERVICE -->

	  <!-- START: MODIFICATIONS TO TERMS OF SERVICE -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>規約の変更</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
	      DBCLSは本サービスのユーザの了解を必要とすることなく、本規約を変更できるものとします。 本規約の変更は本サービス提供サイト内において表示された時点から有効となり、 ユーザは本サービスの利用を継続する限り、変更後の規約に同意したものとします。
	    </font></div>
          </div>
	  <!-- END: MODIFICATIONS TO TERMS OF SERVICE -->

	  <!-- START: COPYRIGHT -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>著作権について</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
		「ライフサイエンス統合データベースセンター」のサイト（以下、DBCLSサイト）の<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「著作権について」に準ずるものとします。
	    </font></div>
          </div>
	  <!-- END: COPYRIGHT -->

	  <!-- START: DISCLAIMER OF WARRANTIES -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>免責事項</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
		PubCaseFinderは医学的判断に使用しない情報提供を目的とした、医学教科書その他参考資料を参照するための検索を行うプログラムです。薬機法に基づく承認を受けた医療機器ではないため、検索の結果についてはそのことを考慮に入れて使用してください。PubCaseFinderが提供する疾患リストまたそれに付随する情報は、全希少・遺伝性疾患の一部の情報であることに注意してください。PubCaseFinderを用いて医師の助言なしに医学的判断を下すべきではありません。PubCaseFinderは検索システムとして誠実にデータを提供しますが、データの正確性、臨床的妥当性または有用性を検証することはありません。DBCLSは、明示的にも黙示的にも、データの使用に関して、法的責任を含む一切の責任を負うものではありません。DBCLSは、本サービスの変更、中断、または終了により被った損害に関しても、一切の責任を負うものではありません。また、DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「免責事項」にも準ずるものとします。
	    </font></div>
          </div>
	  <!-- END: DISCLAIMER OF WARRANTIES -->

	  <!-- START: PRIVACY POLICY -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>プライバシー・ポリシー</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
		DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「個人情報」に準ずるものとします。
	    </font></div>
          </div>
	  <!-- END: PRIVACY POLICY -->

	  <!-- START: PROHIBITED USES -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>禁止事項</h3>
            <div style="letter-spacing: 0.1em; line-height: 2em;"><font color="black">
		DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「禁止事項」に準ずるものとします。
	    </font></div>
          </div>
	  <!-- END: PROHIBITED USES -->

        </div>
      </div>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


    <!-- START: Import JavaScript -->
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/static/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Stellar -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>
    <!-- END: Import JavaScript -->

	
{% endblock %}






