/*IPAD SIZE*/
@media (max-width: 1150px) {
  body {
    font-size: 0.9em;
  }
  .search-header .search-header_wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    /*padding-bottom: 0.5rem;*/
  }
  .search-header .search-header_wrapper .search-header_top {
    margin: 0 auto;
    width: 90%;
  }
  .search-header .search-header_wrapper .search-header_top .brand {
    display: block;
    width: 43%;
    margin-left: 0;
    min-width: 170px;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left {
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left .nav .nav_toggle {
    color: #000;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left .nav .nav_wrapper {
    display: none;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left span {
    display: block;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left .site-header_end {
    border: solid 1px #AEB0B5;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 0;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left .site-header_end a {
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 7px;
  }
  .search-header .search-header_wrapper .search-header_top .search-header_left .site-header_end a i {
    margin-left: 0.5rem;
    border-left: solid 1px #AEB0B5;
  }
  .search-header .search-header_wrapper .search-box_wrapper {
    width: 90%;
    margin: 8px auto 0;
    min-width: 620px;
  }
  .search-header .search-header_wrapper .search-box_wrapper .search-button {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
  }
  .search-header .search-header_wrapper .search-box_wrapper .search-button span {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
  }
  .search-header .search-header_wrapper .search-box_wrapper .search-button .active {
    border: solid 1px #394466;
    background-color: #394466;
    color: #fff;
  }
  .search-header .search-header_wrapper .search-box_wrapper .search-button .active i {
    transform: rotateX(180deg);
    transition: all 0.2s;
  }
  .search-header .search-header_wrapper .search-box_wrapper .search-button .search-button_start {
    padding-left: 0.6em;
    font-weight: 500;
  }
  .search-header .search-header_wrapper .search-box_wrapper .search-button .search-button_end {
    margin-right: 0;
    left: 0;
    margin-left: auto;
    font-weight: 500;
  }

  .search-header .search-header_wrapper .search-advanced .search-box-advanced_wrapper {
    width: 90%;
    min-width: 620px; 
  }

  .content-wrapper {
    width: 90%;
    min-width: 620px;
  }
}
