@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../../fonts/pcf/bootstrap/glyphicons-halflings-regular.eot');
	src: url('../../fonts/pcf/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/pcf/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/pcf/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/pcf/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/pcf/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon-info-sign:before {
	content: "\e086";
}

/*popup-hierarchy-hpo-base popup-hierarchy-hpo-selectedphenotype */
@keyframes popup-hierarchy-hpo-keyframe-superclass-translate {
	from {
		transform: translate(0%, 0px);
	}
	to {
		transform: translate(33%, 0px);
	}
}

@keyframes popup-hierarchy-hpo-keyframe-subclass-translate {
	from {
		transform: translate(0%, 0px);
	}
	to {
		transform: translate(-33%, 0px);
	}
}

@keyframes popup-hierarchy-hpo-keyframe-hidden {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.mfp-s-ready .mfp-content,
.mfp-s-ready .mfp-preloader {
	height:100%;
}

.mfp-container {
	padding:0;
}

.popup-hierarchy-hpo-inline-content {
	display:none;
}
.popup-hierarchy-hpo-table {
	display:table;
	border-collapse:separate;
	border-spacing: 10px;
	width:100%;
	margin: 0 auto;
}
.popup-hierarchy-hpo-caption {
	display:table-caption;
	text-align:center;
	font-weight:bold;
}
.popup-hierarchy-hpo-tr {
	display:table-row;
}
.popup-hierarchy-hpo-td {
	display:table-cell;
/*	border:1px solid gray;*/
	width:33%;
/*
	max-width:33%;
*/
	text-align: center;
	vertical-align: top;
}
.popup-hierarchy-hpo-base {
	display:inline-block;
	background-color: #ffffff;
	border: 6px solid #4472C4;
	border-radius: 10px;
	width: 100%;
/*	color: #000000;*/
	position: relative;
}


.popup-hierarchy-hpo-top-bar,
.popup-hierarchy-hpo-bottom-bar {
	color: #ffffff;
	background-color: #4472C4;
}
.popup-hierarchy-hpo-other-content>.popup-hierarchy-hpo-top-bar,
.popup-hierarchy-hpo-other-content>.popup-hierarchy-hpo-bottom-bar {
	text-align: center;
}

.popup-hierarchy-hpo-content {
	padding: 10px;
	color: #000000;
}

.popup-hierarchy-hpo-link-base {
	display: inline-table;
	border-collapse: collapse;
	white-space: nowrap;
/*	width: 100%;*/
}

.popup-hierarchy-hpo-link {
	white-space: normal;
	color: #4472C4;
	display: inline-block;
/*	display: table-cell;*/
/*	text-decoration: underline;*/
	border: transparent 1px dotted;
	border-radius: 8px;
/*	padding: 0 4px;*/
	padding: 0;
	transition: 0s;
}
.popup-hierarchy-hpo-link:focus {
	color: #4472C4;
/*	text-decoration: underline;*/
}
.popup-hierarchy-hpo-link-focus {
/*
	color: red;
*/
	color: #4472C4;
/*	text-decoration: underline;*/
	border-color: gray;
	background-color: #FBE5D6;
}
.popup-hierarchy-hpo-link:hover {
/*	text-decoration: underline;*/
}


.popup-hierarchy-hpo-link>span:first-child {
	text-decoration: underline;
}

.popup-hierarchy-hpo-link-number {
	border-radius: 8px;
/*	background-color: #5fbc4a;*/
	background-color: #aab3b7;
/*	padding-bottom: 4px;*/
/*	margin: 0 8px;*/
	margin: 0 4px;
	cursor: default;
/*	display: inline-block;*/
/*	display: table-cell;*/
	min-width: 10px;
	padding: 3px 7px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
}
.popup-hierarchy-hpo-link-number:focus,
.popup-hierarchy-hpo-link-number:hover {
	text-decoration: none;
}


.popup-hierarchy-hpo-button-disabled {
	opacity: 0.2;
	cursor: default;
}

.popup-hierarchy-hpo-button-add,
.popup-hierarchy-hpo-button-replace {
	transition: unset;
}

.popup-hierarchy-hpo-buttons {
	padding: 8px;
	text-align: left;
	position: relative;
}
.popup-hierarchy-hpo-buttons-base {
	display: inline-block;
	position: relative;
	white-space: nowrap;
}
.popup-hierarchy-hpo-buttons-base>button {
/*
	color: #ffffff;
	background-color: #FF0E58;
	border-radius: 10px;
	border-color: #FF0E58;
*/
	padding-top: 2px;
	padding-bottom: 2px;
/*	font-size: 1em;*/
}

.popup-hierarchy-hpo-buttons-base>button:last-child {
	margin-right: 0;
}

.popup-hierarchy-hpo-bottom-bar .popup-hierarchy-hpo-buttons-base>button:last-child {
	margin-right: 4px;
}

.popup-hierarchy-hpo-link-base button {
	font-size: 0.8em;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 0;
}


.popup-hierarchy-hpo-close-button {
/*
	background: transparent;
	position: absolute;
	right: 10px;
	top: 0;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	color: #666;
*/

	background: transparent;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	color: white;
	padding-right: 4px;
}

.popup-hierarchy-hpo-superclass {
	text-align: right;
}
.popup-hierarchy-hpo-subclass {
	text-align: left;

}
.popup-hierarchy-hpo-selectedphenotype {
}
.popup-hierarchy-hpo-selectedphenotype.popup-hierarchy-hpo-base {
/*
	border: 6px solid #D0D0D0;
	color: #000000;
*/
	border: 6px solid #4472C4;
/*	color: #ffffff;*/
/*	width: 75%;*/
	width: 83%;
}
.popup-hierarchy-hpo-selectedphenotype .popup-hierarchy-hpo-top-bar,
.popup-hierarchy-hpo-selectedphenotype .popup-hierarchy-hpo-bottom-bar {
/*
	color: #000000;
	background-color: #D0D0D0;
*/
	color: #ffffff;
	background-color: #4472C4;
}
.popup-hierarchy-hpo-selectedphenotype .popup-hierarchy-hpo-bottom-bar {
	padding-top: 2px;
}
.popup-hierarchy-hpo-selectedphenotype .popup-hierarchy-hpo-content {
/*
	border: 1px solid #000000;
*/
	border: 1px solid #4472C4;
}



/*.popup-hierarchy-hpo-selectedphenotype button {*/
.popup-hierarchy-hpo-top-bar button,
.popup-hierarchy-hpo-bottom-bar button {
/*	font-size: 0.8em;*/

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
}

.popup-hierarchy-hpo-top-bar button {
	margin-bottom: 5px;
}
.popup-hierarchy-hpo-bottom-bar button {
	margin-bottom: 0;
	margin-top: 0;
	min-width: 70px;
}

.popup-hierarchy-hpo-bottom-bar button.btn-default {
	border: 2px solid white;
}


.popup-hierarchy-hpo-content-table {
	display:table;
	border-collapse:separate;
	border-spacing: 2px;
/*	width:100%;*/
	margin: 0 auto;
}
.popup-hierarchy-hpo-content-tr {
	display:table-row;
}
.popup-hierarchy-hpo-content-th {
	display:table-cell;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	white-space: nowrap;
	width: 1%;
}
.popup-hierarchy-hpo-content-td {
	display:table-cell;
	text-align: left;
	vertical-align: top;
}
.popup-hierarchy-hpo-content-td-colon {
	display:table-cell;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	width: 1%;
}

.popup-hierarchy-hpo-loading {
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

ul.hpo-token-input-list.token-input-list-facebook {
/*	font-size: inherit !important;*/
	font-size: 14px !important;
}
ul.hpo-token-input-list.token-input-list-facebook li input {
	font-size: 16px !important;
	line-height: 30px;
}
ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook {
	font-size: 14px !important;
	cursor: pointer;
	font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
	padding: 0.1em;
	text-decoration: none;
	border: 1px solid #3b5998;
	background-color:#F4FAFF;
	color:#000;
	border-radius: 3px;
	transition: .4s;
	display:flex;
}
ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook:hover {
	background-color: #5670a6;
	color: white;
}
ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook.token-input-selected-token-facebook {
	background-color: #5670a6;
	border: 1px solid #3b5998;
	color: #fff;
}

ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook p {
	display: block  !important;
	line-height: 15px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}
ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook .token-input-token-word-facebook.token-input-token-icon-facebook {
	display: block  !important;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color:#D5EBFF;
	margin: auto;
}

ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook .token-input-token-word-facebook.token-input-token-icon-facebook .arrow{
	display: block !important;
	width: 8px;
	height: 8px;
	border: 2px solid;
	border-color: #5670a6 #5670a6 transparent transparent;
	transform: rotate(45deg);
	margin-top: 6px;
	margin-left: 4px;
}

ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook span.token-input-token-word-facebook.token-input-token-id-facebook {
	display: block  !important;
	font-size: 10px;
}
ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook span.token-input-token-word-facebook.token-input-token-name-facebook {
	display: block  !important;
	font-size:14px;
}
ul.hpo-token-input-list.token-input-list-facebook li.token-input-token-facebook span.token-input-delete-token-facebook {
	display: inline-block;
	height: 15px;
	width: 15px;
	position: relative;
	margin: auto;
	font-size: 16px;
	line-height: 16px;
}

span.token-input-token-word-facebook {
	color: inherit !important;
	margin-left: 0px !important;
	font-weight: inherit !important;
	cursor: inherit !important;
}

li.token-input-token-results-facebook {
	font-size:16px;
}

li.token-input-token-results-facebook span.token-input-token-word-facebook.token-input-token-information-facebook {
	top: 4px;
	font-size:20px;
}
li.token-input-token-results-facebook span.token-input-token-word-facebook.token-input-token-id-facebook {
	font-size:14px;
}
li.token-input-token-results-facebook span.token-input-token-word-facebook.token-input-token-name-facebook {
/*	font-weight: bold !important;*/
}
li.token-input-token-results-facebook span.token-input-token-word-facebook.token-input-token-name-facebook {
	color: #3777B5 !important;
}
li.token-input-token-results-facebook.token-input-selected-dropdown-item-facebook span.token-input-token-word-facebook.token-input-token-name-facebook {
/*	color: inherit !important;	/* マウスオーバー時の色をとりあえず、デフォルトにしておく */
/*	color: #D0E8FF !important;*/
/*	color: #f5c6ce !important;*/
	color: #f5d7dc !important;
}

li.token-input-token-results-facebook span.token-input-token-word-facebook.token-input-token-information-facebook {
/*	cursor: pointer !important;*/
}
li.token-input-token-results-facebook span.token-input-token-word-facebook.token-input-token-synonym-facebook {
/*	color: #3777B5 !important;*/
}






ul.popup-hierarchy-hpo-token-list {
/*	min-height: 30px;*/
/*	min-height: 39px !important;*/
}

.popup-hierarchy-hpo-fmatreelist-content ul.tree {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	text-align: left;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.itself {
	margin: 0;
/*	padding: 0 0 0 1em;*/
	padding: 0 0 0 2.8em;
/*	line-height: 2em;*/
	position: relative;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree {
	line-height: 27.2px;
}

.popup-hierarchy-hpo-fmatreelist-content ul.tree li.itself.number_before {
	padding: 0 0 0 2.8em;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.itself.number_after {
	padding: 0 0 0 1em;
}

.popup-hierarchy-hpo-fmatreelist-content ul.tree li.itself> span:first-child {
	border-left: 1px solid;
/*	padding: 5px 0 0 10px;*/
	padding: 5px 0 0 0;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree.number_before ul.tree {
	margin-left: 3em;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree.number_after ul.tree {
	margin-left: 1.5em;
}

.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree ul.tree:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree ul.tree li.tree {
	margin: 0;
/*	line-height: 2em;*/
	position: relative;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree.number_before ul.tree li.tree {
	padding: 0 0 0 10px;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree.number_after ul.tree li.tree {
	padding: 0 0 0 1em;
}
.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree.number_after ul.tree li.tree:last-child {
	height: 16px;
	margin-bottom: 7px;
}

.popup-hierarchy-hpo-fmatreelist-content ul.tree li.tree ul.tree li.tree:before {
	content: "";
	display: block;
	width: 10px;
	height: 2px;
	border-top: 1px solid;
	margin-top: -1px;
	position: absolute;
	top: 1em;
	left: 0;
}
.popup-hierarchy-hpo-fmatreelist-content a.link {
	white-space: normal;
	color: #4472C4;
	/* display: inline-block; */
	/* display: table-cell; */
	/* text-decoration: underline; */
	border: transparent 1px dotted;
	border-radius: 8px;
	/* padding: 0 4px; */
	padding: 0;
	transition: 0s;
}
.popup-hierarchy-hpo-fmatreelist-content a.link>span:first-child {
	text-decoration: underline;
}

.popup-hierarchy-hpo-fmatreelist-content li.number_after span.term.itself {
	margin-left: 0.5em;
}


.popup-hierarchy-hpo-fmatreelist-content span.number {
	display: inline-block;
	width: 38px;
	text-align: right;
}
.popup-hierarchy-hpo-fmatreelist-content li.number_after span.number.before {
	display: none;
}
.popup-hierarchy-hpo-fmatreelist-content li.number_before span.number.after {
	display: none;
}

.popup-hierarchy-hpo-fmatreelist-content span.badge {
	border-radius: 2px;
	background-color: #5fbc4a;
	padding-bottom: 4px;
	margin: 0 0 5px 10px;
	cursor: default;

	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
}


.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table {
/*
	width: 100%;
	font-size:0.85em;
*/
}

.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table tr {
	cursor: pointer;
}
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table tr {
	cursor: default;
}
/*
.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table tr:hover,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table tr:hover {
	background-color: LightCyan;
}
*/
.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table tr.popup-hierarchy-hpo-fmalist-content-hover {
	background-color: LightCyan;
}
.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table tr.popup-hierarchy-hpo-fmalist-content-select {
	background-color: SkyBlue;
}

.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table th,
.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table td,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table th,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table td {
	padding: 0 2px;
}

.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table th,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table th {
	padding: 0 2px;
	border: 1px solid #BBBBBB;
	white-space: nowrap;
}

.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table td,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table td {
	padding: 0 4px;
/*	border: 1px solid #DDDDDD;*/
}

.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table td,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table td {
	text-align: left;
	vertical-align: top;
}
/*
.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table tr:first-child,
.popup-hierarchy-hpo-hpolist-content .popup-hierarchy-hpo-content table tr:first-child {
	background-color: #DDDDDD;
	cursor: default;
}
*/
/*	hideのcheckboxがある場合のみ
.popup-hierarchy-hpo-fmalist-content .popup-hierarchy-hpo-content table td:last-child {
	cursor: default;
}
*/

.popup-hierarchy-hpo-hpolist-content button {
	font-size: 0.8em;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 0;
}

.popup-hierarchy-hpo-progress {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	font-weight: bold;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	vertical-align: middle;
	z-index: 3;
}

.popup-hierarchy-hpo-webgl-switch-content {
	width: 104px;
	height: 104px;
/*	background: #FFFFFF url(popup-hierarchy-hpo/webgl_100x100.png?20180911105624) no-repeat 50% 50%;*/
	background: #FFFFFF url(popup-hierarchy-hpo/ICON_PhenoTouch.jpg?20180911153918) no-repeat 50% 50% / contain;
	border-radius: 10px;
	cursor: pointer;
/*
	border: 2px solid transparent;
	opacity: 0.8;
*/
	border: 6px solid #4472C4;
	margin-left: 15px;
}
/*
.popup-hierarchy-hpo-webgl-switch-content:hover {
	border-color: #4472C4;
	opacity: 1;
}
*/
button.popup-hierarchy-hpo-language-change {
	position:absolute;
	width:70px;
	border:2px solid white;
	top:-2px;
	cursor: pointer;
}
select.popup-hierarchy-hpo-language-change {
	opacity:0;
	cursor: pointer;

	color: black;
	background-color: white;
/*	margin: 0 7px 4px 0;*/
	/* font-weight: bold; */

	-webkit-border-radius: 6px;
	border-radius: 6px;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	width: 70px;
	height: 26px;
	padding: 0px 10px;
	border: 0;
	outline: 0;
	/* text-align: center; */
}

#token-input-popup-hierarchy-hpo {
	min-width:17px;
}

.popup-hierarchy-hpo-webgl-home-content {
	position:absolute;
	overflow:hidden;
/*
	width:70px;
	height:96px;
*/
	width:60px;
	height:86px;
	background: #FFFFFF url(popup-hierarchy-hpo/home.png) no-repeat 50% 50%;
	border-radius: 13px;
	cursor: pointer;

	left: 2px;
	top: 2px;
	z-index: 2;
/*	opacity: 0.3;*/
}
.popup-hierarchy-hpo-webgl-home-content:hover {
	opacity: 1;
}

.tooltip-inner {
	text-align: left;
}

.popup-hierarchy-hpo-results-tooltip {
}
.popup-hierarchy-hpo-results-tooltip-title {
	display: none;
	color: #fff;
	background-color: #bfbfbf;
	font-weight: bold;
	padding: 4px;
}

.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table {
	background-color: #ffffff;
	color: #4B5270;
	border: 0px solid #2A3356;
	border-radius: 6px;
	padding: 10px;
/*	box-shadow: 0px 0px 5px 5px rgba(42,51,86,0.5);*/
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
              0 9px 46px 8px rgba(0,0,0,0.12),
              0 11px 15px -7px rgba(0,0,0,0.2);
	width: 100%;
}

.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table .popup-hierarchy-hpo-content-td
{
	color: #848484;
}
.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table .popup-hierarchy-hpo-content-td-id,
.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table .popup-hierarchy-hpo-content-td-name,
.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table .popup-hierarchy-hpo-content-td-english
{
/*
	color: #707070;
	font-weight: bold;
*/
}
.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table .popup-hierarchy-hpo-content-td-name,
.popup-hierarchy-hpo-results-tooltip .popup-hierarchy-hpo-content-table .popup-hierarchy-hpo-content-td-english
{
	color: #3777B5;
}

.btn-copy {
	background: #8671BF;
	color: #fff;
	padding: 4px 20px !important;
	border-width: 0px;
}
.btn-copy:hover, .btn-copy:focus, .btn-copy:active {
	background: #9584BF !important;
	color: #fff;
}

#match_rate {
	text-align: center;
	display: none;
}

.popup-hierarchy-hpo-number-of-hits
{
	color: #707070;
	font-weight: bold;
	padding: 4px;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 50, .5);
	border-radius: 10px;
	box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
/*
div.token-input-dropdown-facebook {
	overflow-y: scroll !important;
}
*/

.rater {
	display: inline-block;
	font-size: 30px;
	color: #FFD119;
	font-weight: bold;
}

.rate-base-layer
{
	color: #FFD119;
}
.rate-hover-layer
{
	color: #FFD119;
}



.popup-hierarchy-hpo-checkbox-group input[type="checkbox"] {
    /*margin: 4px 0 0;*/
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 10px;
    color: inherit;
}

.popup-hierarchy-hpo-checkbox-group input[type="checkbox"]::before {
    display: none !important;
}

.popup-hierarchy-hpo-checkbox-group label {

}


/* Style The Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.mydropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.mydropdown-content {
  display: none;
  position: absolute;
  color: black;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.mydropdown-content a {
  color: black;
/*  padding: 4px 2px;*/
  text-decoration: none;
  display: block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.mydropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.mydropdown:hover .mydropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.mydropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover{
  background-color:yellow;
}
