@charset "UTF-8";
body {
  font-family: 'IBM Plex Sans', sans-serif, 'Noto Sans JP';
}

  #fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url(../../images/pcf/loader.gif) center no-repeat #fff;
  }

.search-header {
  z-index: 99;
  position: sticky;
  /*top: 0;*/
  top: 24px; /*skip the common-header*/
  background-size: cover;
  background-color: #f0f0f0;
}

.search-header .search-header_wrapper {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 1rem;
  /*padding-bottom: 1rem;*/
  border-bottom: solid 1px #ddd;
}

.search-header .search-header_wrapper .search-header_top {
  display: flex;
  width: 100%;
}

.search-header .search-header_wrapper .search-header_top .brand {
  display: block;
  width: 35%;
  margin-left: 15px;
}

.search-header .search-header_wrapper .search-header_top .search-header_left {
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-header .search-header_wrapper .search-header_top .search-header_left .nav .nav_toggle {
  color: #000;
}

.search-header .search-header_wrapper .search-header_top .search-header_left .nav .nav_wrapper {
  display: none;
}

.search-header .search-header_wrapper .search-header_top .search-header_left span {
  margin-right: 11px;
  display: block;
}

.search-header .search-header_wrapper .search-header_top .search-header_left .site-header_end {
  border: solid 1px #888888;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #fff;
}

.search-header .search-header_wrapper .search-header_top .search-header_left .site-header_end a {
  color: #394466;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 7px;
  font-weight: 500;
}

.search-header .search-header_wrapper .search-header_top .search-header_left .site-header_end a i {
  color: #394466;
  margin-left: 0.5rem;
  border-left: solid 1px #AEB0B5;
}

.search-header .search-header_wrapper .search-box_wrapper {
  width: 65%;
  min-width: 685px;
  margin: -40px auto 0 auto;
}

.search-header .search-header_wrapper .search-box_wrapper .search-box_form {
  border: solid 1px #AEB0B5;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  height: 108px;
}

.search-header .search-header_wrapper .search-box_wrapper .search-box_form table {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.search-header .search-header_wrapper .search-box_wrapper .search-box_form table tr{
  width:100%;
  margin:0;
  padding:0;
}

.search-header .search-header_wrapper .search-box_wrapper .search-box_form table tr td.action{
  vertical-align: middle;
  padding-left:   0;
  padding-right:  10px;
}

.search-header .search-header_wrapper .search-box_wrapper .search-box_form table tr td.action-left{
  vertical-align: middle;
  padding-right:  0;
  padding-left:   10px;
}

.search-header .search-header_wrapper .search-box_wrapper .search-box_form table tr td button {
  font-size: 16px;
}

.round-button{
  border: solid 1px #AEB0B5;
  border-radius: 50%;
  padding:   4px;
  color:     #AEB0B5;
}


.search-header .search-header_wrapper .search-box_wrapper .search-button {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 10px;
}


#search-button_advanced {
  border: solid 1px #AEB0B5;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 0.7em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

#search-button_advanced.pcf-active {
  border: solid 1px #394466;
  background-color: #394466;
  color: #fff;
}

#search-button_advanced.pcf-active i {
  transform: rotateX(180deg);
  transition: all 0.3s;
}

.search-header .search-header_wrapper .search-box_wrapper .search-button .dropdown .dropdown-toggle{
  border: solid 1px #AEB0B5;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.search-header .search-header_wrapper .search-box_wrapper .search-button .dropdown .dropdown-toggle::after {
    display: none !important;
}

.search-header .search-header_wrapper .search-box_wrapper .search-button .dropdown.show .dropdown-toggle {
  border: solid 1px #394466;
  background-color: #394466;
  color: white;
}

.search-header .search-header_wrapper .search-box_wrapper .search-button .dropdown.show .dropdown-toggle i {
  transform: rotateX(180deg);
  transition: all 0.3s;
}

/*
.dropdown-menu-center {
    transform: translate(-60px,42px) !important;
}
*/


#search-button_display-wrapper {
  margin-right: 0;
  left: 0;
  margin-left: auto;
  padding-left: 0;
}

#search-button_display {
  margin-right: 0;
  left: 0;
  margin-left: auto;
  padding-left: 0.7em;
}


.action-button {
  padding: 0.5em;
  border-radius: 5px;
  justify-content: center;
  border: solid 1px #394466;
  background-color: #394466;
  color: #fff;
  margin-right: 0.5rem;
}

.cancel-button {
  padding: 0.5em;
  border-radius: 5px;
  justify-content: center;
  border: solid 1px #394466;
}




.search-header .search-header_wrapper .search-box_wrapper .search-button .pcf-active {
  border: solid 1px #394466;
  background-color: #394466;
  color: #fff;
}

.search-header .search-header_wrapper .search-box_wrapper .search-button .pcf-active i {
  transform: rotateX(180deg);
  transition: all 0.2s;
}


.search-header .search-header_wrapper .search-box_wrapper .search-button .search-button_end {
  margin-right: 0;
  left: 0;
  margin-left: auto;
  padding-left: 10px;
}


.search-header .search-header_wrapper .search-advanced {
  background-color: white;
  width: 100%;
}

.search-header .search-header_wrapper .search-advanced .search-box-advanced_wrapper {
  width: 65%;
  min-width: 685px;
  transition: 0.2s;
  padding-top:2.0rem;
  padding-bottom:2.0rem;
  margin: 0 auto 0 auto;
}

.change-color {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.content-wrapper {
  margin: 0 auto;
  width: 65%;
  min-width: 685px;
}

.content-wrapper .content-panel {
  margin:   10px auto;
  position: relative;
  min-height: 100px;
}

.content-wrapper .content-panel .tab-button-panel {
   
}

.content-wrapper .content-panel .tab-button-panel span {
  padding-bottom: 10px;
  color: #394466;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  display: flex;
  width: 25%;
  float: left;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  align-items: center;
}

.content-wrapper .content-panel .tab-button-panel span i {
  margin-right: 0.2em;
}

.content-wrapper .content-panel .tab-button-panel span.pcf-active {
  border-bottom: 3px solid #394466;
}

.tab-button-omim {
  left: 0;
}

.tab-button-orphanet {
  left: 25%;
}

.tab-button-gene {
  left: 50%;
}

.tab-button-case {
  left: 75%;
}


.tab-content-wrapper {
  padding-top: 1em;
  display: inline-block;
  color: #000;
  width: 100%;
}

.tab-content-wrapper .tab-content-panel {
  display: none;
  width: 100%;
}

.tab-content-wrapper .tab-content-panel.pcf-active {
  display: block;
}

.tab-content-wrapper .tab-content-panel:empty:before{
  content: attr(placeholder); 
}


/*症状一覧*/
.list-header {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: flex;
  padding: 1em 0;
}

.list-header .list-results {
  color: #555555;
}

.list-header .list-tag_sample {
  margin: 0 0 0 auto;
}

.list-header .list-tag_sample .list-tag_blue {
  color: #067ABC;
  border: 1.5px solid #067ABC;
  border-radius: 5px;
  padding: 3px;
}

.list-header .list-tag_sample .list-tag_green {
  color: #2F9145;
  border: 1.5px solid #2F9145;
  border-radius: 5px;
  padding: 3px;
}

.list-header .list-tag_sample .list-tag_gray {
  color: #777777;
  border: 1.5px solid #777777;
  border-radius: 5px;
  padding: 3px;
}

.list-header .list-tag_sample .list-tag_red {
  color: #d9534f;
  border: 1.5px solid #d9534f;
  border-radius: 5px;
  padding: 3px;
}

.list-content {
  display: flex;
  margin: 15px 0 0 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.list-content-pagenum {
  display: flex;
  margin: 15px 0 0 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}


.list-content-pagenum .list-content_center {
  width:         100%;
  height:        40px;
  text-align:    center;
}

.list-content .list-content_left {
  margin-right: 2em;
  width:         120px;
  text-align:    right;
  line-height:   1.15
}

.list-content .list-content_left .rank {
  text-align: center;
  display: inline-block;
}

.list-content .list-content_left span {
  display: block;
  margin-bottom: 1em;
  color: #707070;
}

.list-content .list-content_left .list-content_left_bt {
  float: right;
}

.list-content .list-content_left .list-content_left_bt a {
  color: #707070;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.list-content .list-content_left .list-content_left_bt a:hover {
  color: #0431B4;
}

.list-content .list-content_left .list-content_left_bt a i {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-left: 0.1em;
}

.list-content .list-content_right {
  line-height: 1.15;
}

.list-content .list-content_right h3 {
  font-size: 1.3em;
  margin-bottom: 0.1em;
}

.list-content .list-content_right h2 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.list-content .list-content_right .list-query {
  display: flex;
  margin-bottom: 0.3em;
}

.list-content .list-content_right .list-query .list-tag_blue {
  color: #067ABC;
  border: 1.5px solid #067ABC;
  border-radius: 5px;
  padding: 3px;
  margin-right: 0.3em;
  cursor: pointer;
}

.list-content .list-content_right .list-query .list-tag_blue:hover {
  color: #fff;
  background-color: #067ABC;
  transition: 0.5s;
}

.list-content .list-content_right .list-heredity-disease {
  display: flex;
  margin-bottom: 0.3em;
}

.list-content .list-content_right .list-heredity-disease .list-tag_green {
  color: #2F9145;
  border: 1.5px solid #2F9145;
  border-radius: 5px;
  padding: 3px;
  margin-right: 0.3em;
  cursor: pointer;
}

.list-content .list-content_right .list-heredity-disease .list-tag_green:hover {
  color: #fff;
  background-color: #2F9145;
  transition: 0.5s;
}

.list-content .list-content_right .list-heredity-disease .list-tag_gray {
  color: #777777;
  border: 1.5px solid #777777;
  border-radius: 5px;
  padding: 3px;
  margin-right: 0.3em;
  cursor: pointer;
}

.list-content .list-content_right .list-heredity-disease .list-tag_gray:hover {
  color: #fff;
  background-color: #777777;
  transition: 0.5s;
}

.list-content .list-content_right .list-heredity-diseasename {
  display: flex;
  margin-bottom: 0.3em;
}

.list-content .list-content_right .list-heredity-diseasename .list-tag_red {
  color: #d9534f;
  border: 1.5px solid #d9534f;
  border-radius: 5px;
  padding: 3px;
  margin-right: 0.3em;
  cursor: pointer;
}

.list-content .list-content_right .list-heredity-diseasename .list-tag_red:hover {
  color: #fff;
  background-color: #d9534f;
  transition: 0.5s;
}

.list-content .list-content_right p {
  padding: 0.2em 0;
  line-height: 1.5em;
}

.list-content .list-content_right p a {
  color: #0431B4;
}

.list-content .list-content_right .list-link {
  margin-top: 0.4em;
  margin-bottom: 0.9em;
  line-height:  1.15;
}

.list-content .list-content_right .list-link a {
  color: #0431B4;
  margin-right: 0.7em;
  text-decoration: underline;
  cursor: pointer;
}

.list-content .list-content_right .list-show {
  display: flex;
}

.list-content .list-content_right .list-show a {
  display: inline-flex;
  margin-right: 0.7em;
  cursor: pointer;
  line-height: 1.15;
}
.list-content .list-content_right .list-show  a:hover {
  color: inherit;
  text-decoration: none;
}
.list-content .list-content_right .list-show a .list-show_click {
  display: flex;
}

.list-content .list-content_right .list-show a .list-show_click i {
  font-size: 1.2em;
  color: #394466;
}

.list-content .list-content_right .list-show a .list-show_click span {
  color: #394466;
}

.list-footer {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: flex;
  padding: 1em 0;
}

.list-footer .list-results {
  color: #555555;
  margin: auto 0;
}

.list-footer button {
  display: inline-flex;
  margin: 0 auto;
}

.list-footer button span {
  width: 2.5em;
  height: 2.5em;
  border-radius: 20px;
  background-color: #f73859;
  padding-top: 7px;
}

.list-footer button span i {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}

.list-footer button p {
  font-weight: 500;
  margin: auto 0;
  padding-left: 0.3em;
}

.list-footer a {
  text-decoration: underline;
  margin: 0 0 0 auto;
  margin: auto 0;
  color: #555555;
}

/*Checkboxes styles開始*/
.rank input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  margin-bottom: 0.5em;
}

.rank input[type="checkbox"]::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.rank input[type="checkbox"]:checked {
  color: white;
  border-color: #394466;
  background: #394466;
}

.rank input[type="checkbox"]:checked::before {
  opacity: 1;
}

.rank input[type="checkbox"]:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.rank label {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.25em 0;
  user-select: none;
}

/*Checkboxes styles終了*/
.footer_img {
  width: 100%;
  margin-top: 20px;
}

.v_line_left {
  border-left: 1px solid #d6d6d6;
  padding-left: 0.7em;
}

/*fontello*/
.icon-omim:before {
  content: '\e80a';
  font-size: 1.2em;
}

.icon-orphanet:before {
  content: '\e80b';
  font-size: 1.2em;
}

.icon-gene:before {
  content: '\e80d';
  font-size: 1.5em;
}

.icon-case:before {
  content: '👥';
  font-size: 1.2em;
}

/* 親メニュー - Parent nav */
nav > ul > li {
  position: relative;
  float: left;
}

nav a {
  text-decoration: none;
}

nav ul a:hover {
  color: #394466;
}

/* 子メニュー - .sub-menu */
nav .sub-menu {
  position: absolute;
  width: 180px;
  background: #394466;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

nav .sub-menu a {
  color: #fff;
  padding: 10px 15px;
  display: block;
}

nav .sub-menu a:hover {
  color: #fff;
}

/* ホバーで子メニュー表示 */
nav .menu-item-has-children:hover ul {
  opacity: 1;
  visibility: visible;
}

nav li.menu-item-has-children li a:hover {
  background: #121a36;
}

.global-header {
  top: 24px;
}





.btn {
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    touch-action: manipulation;
    cusor: pointer;
    white-space: nowrap;
    line-height: 1.42857;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}

.btn-default {
    color: #333;
    background-color: #fff;
}

.btn-primary {
    background: #F73859;
    color: #fff;
    border: 2px solid #F73859;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #f8516d !important;
    border-color: #f8516d !important;
}
.btn-primary.btn-outline {
    background: transparent;
    color: #F73859;
    border: 2px solid #F73859;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #F73859;
    color: #fff;
}
